<script type="text/html" id="pagination">
    <ul class="pagination col-xs-12">
        <li><a href="#">&laquo;</a></li>
        <li><a class="active" data-bind="text:TotalCount"></a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</script>