@model Serenity.Services.ListResponse<Cinema.Movie.Entities.ServiceRatingRow>

@if (Model != null && Model.Entities != null && Model.Entities.Count > 0)
{
    foreach (var i in Model.Entities)
    {
        if (i.Rating != null)
        {
            @i.ServiceName
            <span >@i.Rating</span>
        }
        else
        {
            <a href="@i.ServiceUrl@i.Id" >@i.ServiceName</a>
        }
    }
}