@model Serenity.Services.ListResponse<Cinema.Movie.Entities.ServiceRatingRow>

@if (Model != null && Model.Entities != null && Model.Entities.Count > 0)
{
    <p>
        @foreach (var i in Model.Entities)
        {
            if (i.Rating != null)
            {
                @i.ServiceName
                <span class="label label-custom">@i.Rating</span>
            }
            else
            {
                <a href="@i.ServiceUrl/@i.Id" class="label label-custom">@i.ServiceName</a>
            }
        }
    </p>
}