@model Serenity.Services.ListResponse<Cinema.Movie.Movie.Entities.MovieRow>
<ul class="list-group list-group-unbordered col-xs-12 padding-10">
    @foreach (var movie in Model.Entities)
    {
        <li class="list-group-item col-xs-6 padding-10" style="min-height:80px">
            <a class="col-xs-12 no-padding no-margin " href=@("/movies/" + movie.Url + "?id=" + movie.MovieId)>
                @if (movie.PathImage != null)
                {
                    <div class="col-xs-4 thumbnail img-responsive no-padding no-margin ">
                        <img style="height:110px" class="no-padding" src="@movie.PathImage" />
                    </div>
                }
                <p class="box-title @(movie.PathImage != null ? "col-xs-8" : "col-xs-12") padding-10 no-margin">
                    @movie.TitleDisplay
                </p>
            </a>
        </li>
    }
</ul>