@model Serenity.Services.ListResponse<Cinema.Movie.Entities.CastRow>

@if (Model != null && Model.Entities != null && Model.Entities.Count > 0)
{
    foreach (var character in Model.Entities.Select(i=>i.CharacterOther).Distinct())
    {
        <p>
            <span>@character:</span>
            @foreach (var person in Model.Entities)
            {
                if (person.CharacterOther == character)
                {
                    <a href="/persons/@person.PersonUrl?id=@person.PersonId">
                        <b>@(person.PersonNameOther != null ? person.PersonNameOther : person.PersonName)</b>
                    </a>
                }
            }
        </p>
    }
}