{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=Cinema_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Movie",
                    "Identifier": "Movie",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.DataBase",
                    "Identifier": "DataBase",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        },
        {
            "Key": "Movie",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=Cinema_Movie_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Movie",
                    "Identifier": "Movie",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Genre",
                    "Identifier": "Genre",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Cast",
                    "Identifier": "Cast",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Country",
                    "Identifier": "Country",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Image",
                    "Identifier": "Image",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MovieCountry",
                    "Identifier": "MovieCountry",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MovieGenre",
                    "Identifier": "MovieGenre",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Person",
                    "Identifier": "Person",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Service",
                    "Identifier": "Service",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ServicePath",
                    "Identifier": "ServicePath",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ServiceRating",
                    "Identifier": "ServiceRating",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Tag",
                    "Identifier": "Tag",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.VersionInfo",
                    "Identifier": "VersionInfo",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Video",
                    "Identifier": "Video",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MovieTag",
                    "Identifier": "MovieTag",
                    "Module": "Movie",
                    "ConnectionKey": "Movie",
                    "PermissionKey": "Administration"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=Cinema_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.DataBase",
                    "Identifier": "DataBase",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Cinema\\Cinema.Web\\Cinema.Web.csproj",
    "ScriptProjectFile": "..\\..\\..\\Cinema\\Cinema.Web\\Cinema.Web.csproj",
    "RootNamespace": "Cinema",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": false,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": false,
    "GenerateDialog": false,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": false,
    "MaximizableDialog": false
}