{
    "Connections": [],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Cinema.Movie\\Cinema.Movie.Web\\Cinema.Movie.Web.csproj.user",
    "ScriptProjectFile": "..\\..\\..\\Cinema.Movie\\Cinema.Movie.Web\\Cinema.Movie.Web.csproj.user",
    "RootNamespace": "Cinema.Movie",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true,
    "GenerateLookupEditor": false,
    "MaximizableDialog": false
}