html,
body {
  background: #faf3f9;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-top {
  padding-top: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.padding-5 {
  padding: 5px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-right-10 {
  padding-right: 10px;
}
.uppercase {
  text-transform: uppercase;
}
.text-indent {
  text-indent: 20px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-12 {
  font-size: 12px;
}
.info-box-image {
  height: 199px;
}
.info-box-image .info-box-icon {
  height: 200px;
  width: 150px;
}
.info-box-image .info-box-content {
  margin-left: 150px;
  height: 199px;
}
a.title {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin: 0;
  margin-bottom: 10px;
}
a.title h3 {
  font-size: 14px;
  margin: 10px 0 10px 0;
  cursor: pointer;
}
.short-description {
  font-size: 12px;
  text-align: justify;
}
.pl {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pl_l,
.pl_r {
  position: absolute;
  background: #345;
  width: 51%;
  height: 100%;
  z-index: 1090;
  -webkit-transition: 0.3s 0.4s;
  -o-transition: 0.3s 0.3s;
  transition: 0.3s 0.4s;
}
.pl_l {
  left: 0;
}
.pl_r {
  right: 0;
}
.loaded .pl_l {
  -webkit-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -o-transform: translate(-100%);
  transform: translate(-100%);
}
.loaded .pl_r {
  -webkit-transform: translate(100%);
  -ms-transform: translate(100%);
  -o-transform: translate(100%);
  transform: translate(100%);
}
.loaded .round1 {
  opacity: 0;
}
.round1,
.round1:before,
.round1:after {
  border: 4px solid transparent;
  border-radius: 50%;
}
.round1 {
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
  position: absolute;
  border-top-color: #fff;
  -webkit-animation: spin 0.8s infinite linear;
  animation: spin 0.8s infinite linear;
  z-index: 1091;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.round1:before,
.round1:after {
  content: '';
  position: absolute;
}
.round1:before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #aaa;
  -webkit-animation: spin 0.6s infinite linear;
  animation: spin 0.6s infinite linear;
}
.round1:after {
  top: 23px;
  left: 23px;
  right: 23px;
  bottom: 23px;
  border-top-color: #777;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}