
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Movie.Image.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cinema.Movie.ImageGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>