@model Serenity.Services.ListResponse<Cinema.Movie.Entities.MovieCountryRow>

@if (Model != null && Model.Entities != null && Model.Entities.Count > 0)
{
    foreach (var i in Model.Entities)
    {
        <a class="@i.CountryCode pull-right " href="/countries/@i.CountryName">@i.CountryNameOther </a>
    }
}