@model Serenity.Services.ListResponse<Cinema.Movie.Entities.GenreRow>

@if (Model != null&& Model.Entities != null && Model.Entities.Count > 0)
{
    <div class="box box-custom">
        <div class="box-header with-border box-with-backgrond">
            <b class="uppercase header">@LocalText.Get("Db.Movie.Genre.EntityPlural")</b>
        </div>
        <div class="box-body padding-5"> 
            <div class="btn-group col-xs-12 no-padding">
                @foreach (var i in Model.Entities)
                {
                    <a class="btn btn-custom btn-block" href="/genres/@i.Name" style="margin-top:5px;@(i.Style)">
                        @if (i.Icon != null)
                        {
                            <span class="@i.Icon"></span>
                        }
                        <b>
                            @i.Name
                        </b>
                    </a>
                }
            </div>
        </div>
    </div>
}