@model Serenity.Services.ListResponse<Cinema.Movie.Entities.MovieGenreRow>

@if (Model != null && Model.Entities != null && Model.Entities.Count > 0)
{
    <div class="col-xs-12">
        @foreach (var i in Model.Entities)
        {
            <a class="@i.GenreIcon pull-left" href="/genres/@i.GenreName">@i.GenreName</a>
        }
    </div>
}