<ul class="col-xs-12 list-group list-group-unbordered font-size-12 no-padding" data-bind="foreach: model.Genres.Entities">
    <li class="list-group-item padding-5">
        <span class="icon" data-bind="style:{'background':'url(Icon)'"></span>
        <span class="name" data-bind="text:Name,attr:{href:'/genre/'+Name}"></span>
    </li>
</ul>
