<ul class="col-xs-2 list-group list-group-unbordered font-size-12" data-bind="foreach: model.Genres.Entities">
    <li class="list-group-item padding-5" data-bind="text:Name,attr:{href:'/genre/'+Name}"></li>
</ul>
