@model List<Cinema.Movie.Movie.Entities.GenreRow>

@if (Model!=null&&Model.Count>0) {
<div class="box box-custom">
    <div class="box-header with-border box-with-backgrond">
        <b class="uppercase header">@LocalText.Get("Db.Movie.Genre.EntityPlural")</b>
    </div>
    <div class="box-body">
        <ul class="list-group list-group-unbordered no-margin">
            @foreach (var i in Model)
            {
                <li class="list-group-item padding-top-5 padding-bottom-5">
                    @if (i.Icon != null)
                    {
                        <span class="@i.Icon"></span>
                    }
                    <b><a href="/genres/@i.Name">@i.Name</a></b>
                </li>
            }
        </ul>
    </div>
</div>
}