@model Serenity.Services.ListResponse<Cinema.Movie.Entities.VideoRow>
@if (Model != null && Model.Entities.Count != 0)
{
    if (Model.Entities.Count == 1)
    {
        { Html.RenderPartial(MVC.Views.Movie.Video._Video, Model.Entities.First()); }
    }
    else
    {
        <div class="col-xs-12 no-padding">
            @foreach (var video in Model.Entities)
            {
                { Html.RenderPartial(MVC.Views.Movie.Video._Video, video); }
            }
        </div>
    }
}
