
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configuration.Settings.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cinema.Movie.Configuration.SettingsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>