
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Movie.Country.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cinema.Movie.Movie.CountryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>